
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Template.cshtml";
}
<link href="~/styletemplate/css/homepage.css" rel="stylesheet" asp-append-version="true" />
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Book Number
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.books</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Category
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.category</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-th-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Citys
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.citys</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-city fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                District
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.district</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-building fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Authors
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.author</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-secret fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Publishing Company
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.publishingCompany</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-industry fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Publisher
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.publisher</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-laptop-house fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Banks Suport
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.bankSuport</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-university fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-lg-6 mb-4">
            <a href="#" id="btn_ImportBooks">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        <i class="fas fa-database"></i> Import Books
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6 mb-4">
            <a href="#" id="btn_ImportCategorys">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        <i class="fas fa-database"></i> Import Categorys
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6 mb-4">
            <a href="#" id="btn_ImportCitys">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        <i class="fas fa-database"></i> Import Citys
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6 mb-4">
            <a href="#" id="btn_ImportDistrict">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        <i class="fas fa-database"></i> Import District
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6 mb-4">
            <a href="#" id="btn_ImportAuthors">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        <i class="fas fa-database"></i> Authors
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6 mb-4">
            <a href="#" id="btn_ImportPublishingCompany">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        <i class="fas fa-database"></i> Publishing Company
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6 mb-4">
            <a href="#" id="btn_ImportPublisher">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        <i class="fas fa-database"></i> Publisher
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6 mb-4">
            <a href="#" id="btn_BankSuport">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        <i class="fas fa-database"></i> Banks Suport
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>
<!-- /.container-fluid -->
@section Scripts{
    <script src="~/js/home.js" type="module" asp-append-version="true"></script>
}

